<template>
  <v-app>
    <v-main>
      <router-view/>
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',
  data: () => ({
    //
  }),
  async mounted(){
    await this.$store.dispatch('auth/checkAuthUser')
  },
};
</script>

<style>
::-webkit-scrollbar {
  width: 5px;
}
 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.363);
}
 
::-webkit-scrollbar-thumb {
  background-color: #42A5F5;
}

.cursor-hover {
  cursor: pointer;
}
</style>
