<template>
 <v-container fluid class="">
  <v-app-bar absolute color="blue darken-1" elevation="1" dark>
    <v-toolbar-title>
      <v-layout align-center justify-center dark>
        <div class="blue lighten-1 pl-3 pr-3 pt-1 pb-1 rounded-lg">
          <h1 class="white--text text-h5 font-weight-black">N</h1>
        </div>
        <p class="text-h6 font-weight-black mb-0 ml-2">Notes App</p>
      </v-layout>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <v-spacer></v-spacer>
    <v-spacer></v-spacer>
    <v-text-field @focus="isSearching = true" @blur="isSearching = false" v-model="search" class="expanding-search mt-6 mr-2" :class="{'closed' : !isSearching}" placeholder="Search" prepend-inner-icon="mdi-magnify" filled dense></v-text-field>      
    <v-menu bottom min-width="200px" rounded offset-y >
      <template v-slot:activator="{ on }">
      <v-btn icon v-on="on">
        <v-avatar color="brown" size="40" right class="">
        <span class="white--text text-h6">{{ user.name[0] }}</span>
        </v-avatar>
      </v-btn>
      </template>
      <v-card>
      <v-list-item-content class="justify-center">
        <div class="mx-auto text-center">
        <h4 class="mt-2">{{ user.name }}</h4>
        <h4 class="mt-2 text-caption">{{ user.email }}</h4>
        <v-divider class="my-3"></v-divider>
        <v-btn small depressed rounded text class="blue--text" >
          <v-icon>mdi-cog</v-icon>
          Settings
        </v-btn>
        <v-divider class="my-3"></v-divider>
        <v-dialog
            v-model="logoutDialog"
            persistent
            max-width="320">
            <template v-slot:activator="{ on, attrs }">
            <v-btn small  depressed rounded text v-bind="attrs"
                v-on="on" class="red--text">
              <v-icon color="red accent-3">mdi-exit-to-app</v-icon>
              Log-out
            </v-btn>
            </template>
            <v-card>
              <v-card-title class="text-h5">
                Confirm Log-out
              </v-card-title>
              <v-card-text>Are you sure you want to log-out?</v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="gray"
                  text
                  @click="logoutDialog = false">
                  Cancel
                </v-btn>
                <v-btn
                  color="green darken-3"
                  text
                  @click="logout">
                  Log-out
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        
        </div>
      </v-list-item-content>
      </v-card>
    </v-menu>
  </v-app-bar>

  <draggable v-model="draggableNotes" :options="{animation: 200}" @change="updateRecords" class="row mt-14">

    <v-col sm="6" md="6" lg="4" v-for="(note, i) in draggableNotes" :key="i">
      <v-card class="pa-3 cursor-pointer" :color="note.color" @click.prevent="selectedNote = note; noteDialog = true">
        <v-row class="pr-3 pt-2" justify="end">
          <v-menu transition="slide-x-transition" class="">
            <template v-slot:activator="{ on, attrs }">
            <v-btn v-bind="attrs" v-on="on" text >
              <v-icon>mdi-dots-horizontal</v-icon>
            </v-btn>
            </template>
            <v-list>
            <v-list-item>
              <v-btn small depressed rounded text @click="setUpdate(note)">
              <v-icon small>mdi-pencil-outline</v-icon>
              Update
              </v-btn>
            </v-list-item>
            <v-divider></v-divider>
            <v-list-item>
              <v-dialog v-model="deleteDialog" persistent max-width="380">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                small
                depressed
                rounded
                text
                v-on="on"
                v-bind="attrs"
                v-on:click.prevent="delete_data.id = note.id"
                class="red--text"
                >
                <v-icon small>mdi-delete</v-icon>
                Delete
                </v-btn>
              </template>
              <v-card>
                <v-card-title class="text-h5">
                Confirm Delete
                </v-card-title>
                <v-card-text>Are you sure you want to delete this note?</v-card-text>
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="gray" text @click="deleteDialog = false">
                  Cancel
                </v-btn>
                <v-btn color="red darken-3" text @click="deleteNote">
                  Yes
                </v-btn>
                </v-card-actions>
              </v-card>
              </v-dialog>
            </v-list-item>
            </v-list>
          </v-menu>
        </v-row>
        <v-list-item three-line>
          <v-list-item-content>
            <v-list-item-title class="text-h5 font-weight-bold" :class="textColor(note.color) ? 'white--text' : ''">{{note.title}}</v-list-item-title>
            <v-list-item-subtitle class="font-italic " :class="textColor(note.color) ? 'white--text' : ''">
              {{note.updated_at}}
            </v-list-item-subtitle>
            <v-list-item-subtitle class="mt-4 font-weight-400" :class="textColor(note.color) ? 'white--text' : ''">
              {{note.content}}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-card>
    </v-col>
  </draggable>

  
  <v-dialog
      v-model="updateDialog"
      transition="dialog-bottom-transition"
      max-width="500">
    <v-card class="cursor-pointer">
      <v-card-title class="text-h5">
       Create New Note
      </v-card-title>
      <v-card-subtitle class="text-body-1">
       All fields are required
      </v-card-subtitle>
        <v-divider></v-divider>
      <v-layout justify-center align-center>
        <v-col cols="11" sm="11" md="11" lg="12" >
          <v-form ref="form" class="mt-3" @submit.prevent="update">
            <v-text-field
              hide-details="auto"
              v-model="data.title"
              :rules="[rules.required]"
              type="text"
              outlined
              label="Title"
              clearable
              required
            ></v-text-field>
            <v-select
              v-model="data.color"
              :items="colors"
              :background-color="data.color"
              hide-details="auto"
              :rules="[rules.required]"
              label="Card Color"
              class="mt-3"
              outlined
            ></v-select>
            <v-textarea
              outlined
              auto-grow
              v-model="data.content"
              :rules="[rules.required]"
              type="text"
              label="Content"
              class="mt-3"
              clearable
              required
            ></v-textarea>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="green darken-1"
                text
                @click="updateDialog = false">
                Cancel
              </v-btn>
              <v-btn type="submit"
                color="green darken-1"
                text>
                Update
              </v-btn>
            </v-card-actions>
          </v-form>
        </v-col>
      </v-layout>
    </v-card>
  </v-dialog>

  <v-dialog
      v-model="noteDialog"
      transition="dialog-bottom-transition"
      max-width="500">
    <v-card>
      <v-card-title class="text-h5">
       {{selectedNote.title}}
      </v-card-title>
      <v-card-subtitle class="text-body-1">
       {{selectedNote.created_at}}
      </v-card-subtitle>
      <v-card-title class="text-subtitle-1">
       {{selectedNote.content}}
      </v-card-title>
        <v-divider></v-divider>
      <v-layout justify-center align-center>
        <v-col cols="11" sm="11" md="11" lg="12" >
        </v-col>
      </v-layout>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="green darken-1"
          text
          @click="noteDialog = false">
          Close
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

  <v-dialog
      v-model="dialog"
      transition="dialog-bottom-transition"
      max-width="500">
    <v-card>
      <v-card-title class="text-h5">
       Create New Note
      </v-card-title>
      <v-card-subtitle class="text-body-1">
       All fields are required
      </v-card-subtitle>
        <v-divider></v-divider>
      <v-layout justify-center align-center>
        <v-col cols="11" sm="11" md="11" lg="12" >
          <v-form ref="form" class="mt-3" @submit.prevent="save">
            <v-text-field
              hide-details="auto"
              v-model="data.title"
              :rules="[rules.required]"
              type="text"
              outlined
              label="Title"
              clearable
              required
            ></v-text-field>
            <v-select
              v-model="data.color"
              :items="colors"
              :background-color="data.color"
              hide-details="auto"
              :rules="[rules.required]"
              label="Card Color"
              class="mt-3"
              outlined
            ></v-select>
            <v-textarea
              outlined
              auto-grow
              v-model="data.content"
              :rules="[rules.required]"
              type="text"
              label="Content"
              class="mt-3"
              clearable
              required
            ></v-textarea>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="green darken-1"
                text
                @click="dialog = false">
                Cancel
              </v-btn>
              <v-btn type="submit"
                color="green darken-1"
                text>
                Save
              </v-btn>
            </v-card-actions>
          </v-form>
        </v-col>
      </v-layout>
    </v-card>
  </v-dialog>

  <v-btn elevation="1" @click.prevent="dialog = true" color="blue darken-1" fab right bottom fixed dark>
    <v-icon>mdi-plus</v-icon>
  </v-btn>
 </v-container>
</template>
<script>
import draggable from 'vuedraggable'
import {mapGetters, mapState} from 'vuex'

export default {
  data(){
    return {
      isSearching: false,
      dialog: false, 
      search: '',
      updateDialog: false,
      data: {
        title: '',
        content: '',
        color: '#fff',
      },
      selectedNote: {
        title: '',
        created_at: '',
        content: ''
      },
      logoutDialog: false,
      deleteDialog: false,
      noteDialog: false,
      delete_data: {id: ''},
      colors: [
        {text: 'Default', value: '#fff'},
        {text: 'Red Lighten', value: '#EF5350'},
        {text: 'Red Accent', value: '#FF5252'},
        {text: 'Pink Light', value: '#F8BBD0'},
        {text: 'Pink Lighten', value: '#F06292'},
        {text: 'Pink Darken', value: '#D81B60'},
        {text: 'Pink Accent', value: '#FF4081'},
        {text: 'Indigo Light', value: '#7986CB'},
        {text: 'Indigo Lighten', value: '#C5CAE9'},
        {text: 'Indigo Darken', value: '#303F9F'},
        {text: 'Indigo Accent', value: '#536DFE'},
        {text: 'Blue Light', value: '#BBDEFB'},
        {text: 'Blue Lighten', value: '#64B5F6'},
        {text: 'Blue Darken', value: '#1976D2'},
        {text: 'Blue Accent', value: '#448AFF'},
        {text: 'Teal Light', value: '#B2DFDB'},
        {text: 'Teal Lighten', value: '#4DB6AC'},
        {text: 'Teal Darken', value: '#00796B'},
        {text: 'Teal Accent', value: '#64FFDA'},
        {text: 'Green Light', value: '#C8E6C9'},
        {text: 'Green Lighten', value: '#81C784'},
        {text: 'Green Darken', value: '#388E3C'},
        {text: 'Green Accent', value: '#00E676'},
        {text: 'Grey Light', value: '#FAFAFA'},
        {text: 'Grey Lighten', value: '#E0E0E0'},
        {text: 'Grey Darken', value: '#616161'},
      ],
      whiteTextColors: [
        {text: 'Blue Darken', value: '#1976D2'},
        {text: 'Red Accent', value: '#FF5252'},
        {text: 'Pink Darken', value: '#D81B60'},
        {text: 'Teal Darken', value: '#00796B'},
        {text: 'Indigo Darken', value: '#303F9F'},
        {text: 'Blue Accent', value: '#448AFF'},
        {text: 'Grey Darken', value: '#616161'},
      ],
      draggableNotes: [],
      rules: {
        required: value => !!value || 'Required.',
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Invalid e-mail.'
        },
      },
    }
  },
  components: {
    draggable,
  },
  computed: {
    ...mapState('auth', ['user'])
  },
  mounted(){
    document.title = "Simple Note App"
    this.getNotes()
  },
  methods: {
    setUpdate(data){
      this.data = {...data}
      this.updateDialog = true
    },
    async updateRecords(){
      this.draggableNotes.map((notes, index) => {
        notes.order = index + 1
      })

      this.$store.dispatch('notes/updateOrder', this.draggableNotes)
    },
    textColor(color){
      let flag = false
      this.whiteTextColors.forEach((val) => {
        if(val.value == color) {
          flag = true
        }
      })

      return flag
    },
    async logout(){
     this.isLoading = true
     const res = await this.$store.dispatch('auth/logout')
     if(res.status == 200){
       this.$router.push('/')
     }
     else if (res.status == 401){
       this.$store.commit('auth/UNSET_USER')
       this.$router.push('/')
     }
     this.isLoading = false
   },
    async getNotes(){
      this.initialLoading = true
      await this.$store.dispatch('notes/get', this.search)
      this.draggableNotes = this.$store.getters['notes/GET_NOTES']
      this.initialLoading = false
    },
    async update(){
      this.isValid = this.$refs.form.validate()

      if(!this.isValid) return this.$toast.error('Field inputs are missing or incorrect')

      const {data, status} = await this.$store.dispatch('notes/update', this.data)
       if(status == 200) {
        this.getNotes();
        this.$refs.form.reset()
        this.updateDialog = false
        this.successResponse(data)  
      }
    },
    async save(){
      this.isValid = this.$refs.form.validate()

      if(!this.isValid) return this.$toast.error('Field inputs are missing or incorrect')

      const {data, status} = await this.$store.dispatch('notes/store', this.data)
       if(status == 200) {
        this.getNotes();
        this.$refs.form.reset()
        this.dialog = false
        this.successResponse(data)  
      }
    },
    async deleteNote(){
       const {data, status} = await this.$store.dispatch('notes/delete', this.delete_data)
       if(status == 200) {
        this.getNotes();
        this.search = ''
        this.deleteDialog = false
        this.successResponse(data)  
      }
    }
  },
  watch: {
    notes(){
      this.draggableNotes = this.notes
    },
     search(){
      if (this.timeout) clearTimeout(this.timeout);
      this.timeout = setTimeout(() => {
        this.getNotes()
      }, 500);
    }
  }
}
</script>
<style>
.cursor-pointer {
  cursor: pointer;
}
textarea {
 border: none !important;
 outline: none !important;
 width: 100%;
}

.notes-container {
 overflow: auto;
 height: 55vh;
 margin-top: 1.5rem;
}

.theme--dark.v-text-field > .v-input__control > .v-input__slot:before{
  border-color: transparent !important;
}

.theme--dark.v-text-field > .v-input__control > .v-input__slot:after{
  border-color: transparent !important;
}
.v-input.expanding-search {
  max-width: 300px !important;
  transition: 0.3s;
}
.v-input.expanding-search.closed{
  max-width: 45px !important;
  transition: 0.3s;
}

</style>
