<template>
  <div class="home">
    <v-container  fill-height>
      <v-row  align="center" justify="center">
        <v-col sm="10" md="8" lg="6" xl="4">
          <v-card elevation="0" class="justify-center pt-9 pb-9 rounded-lg">
            <v-layout justify-center align-center>
              <div class="blue lighten-1 pl-3 pr-3 pt-1 pb-1 rounded-lg">
                <h1 class="white--text text-h5 font-weight-black">N</h1>
              </div>
              <p class="text-h5 font-weight-black mb-0 blue--text text--lighten-1 ml-3">Notes App</p>
            </v-layout>
            <p class="text-center grey--text mt-3">
              Please enter your credentials to proceed
            </p>
            <v-row justify="center">
              <v-col cols="9" sm="9" md="8" lg="7" >
                <v-form ref="form" class="mt-3" @submit.prevent="register">
                  <v-text-field
                    outlined
                    hide-details="auto"
                    prepend-inner-icon="mdi-account"
                    v-model="data.name"
                    :rules="[rules.required]"
                    type="text"
                    label="Full Name"
                    clearable
                    required
                  ></v-text-field>
                  <v-text-field
                    outlined
                    hide-details="auto"
                    prepend-inner-icon="mdi-at"
                    v-model="data.email"
                    :rules="[rules.email, rules.required]"
                    class="mt-4"
                    type="email"
                    label="Email Address"
                    clearable
                    required
                  ></v-text-field>
                  <v-text-field
                    outlined
                     prepend-inner-icon="mdi-lock"
                    v-model="data.password"
                    :rules="[rules.required]"
                    type="password"
                    label="Password"
                    class="mt-3"
                    clearable
                    required
                  ></v-text-field>
                  <v-btn type="submit" block color="blue lighten-1" dark elevation="0" :loading="isLoading"> 
                    Register
                  </v-btn>
                </v-form>
              </v-col>
            </v-row>
          </v-card>
          <p class="mt-3 white--text text-body-2">Already have an account? <router-link class="white--text text-decoration-none" to="/">Login</router-link></p>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>

export default {
  name: 'Login',
  data() {
    return {
      data: {
        email: '',
        name: '',
        password: '',
      },
      rules: {
         required: value => !!value || 'Required.',
         email: value => {
           const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
           return pattern.test(value) || 'Invalid e-mail.'
         },
       },
    }
  },
  mounted(){
    document.title = "Create an account"
  },
  components: {
  },
  methods: {
    async register(){
      this.isValid = this.$refs.form.validate()

      if(!this.isValid) return this.$toast.error('Field inputs are missing or incorrect')

      this.isLoading = true
      const {data, status} = await this.$store.dispatch('auth/register', this.data)
      if(status == 422) return this.UnprocEntity(data)
      if(status == 200) {
        this.$refs.form.reset()
        this.successResponse(data)  
      }

      if(status == 500) return this.errorResponse(data)
      
    }
  }
}
</script>

<style>
.home {
  width: 100%;
  height: 100vh;
  background-color: #42A5F5;
}
</style>
